main > .allpage.section > div {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.carousel .carousel-slide .carousel-slide-content {
    background-color: transparent !important;
}

.carousel h4 {
    font-size: 15px;
    margin-top: 40px;
    border-left: 3px solid #e8e100;;
    padding-left: 13px;
}

.carousel h4 strong {
    color: #ddd;
}

.carousel .carousel-slide {
    min-height: 780px !important;
}

.carousel .button-container a {
    border: 3px solid #e8e100;
    background: transparent;
    border-radius: 4vh 4vh 0 4vh;
    transition: all .3s;
}

.carousel .button-container a:hover {
    text-decoration: underline;
    border-radius: 4vh 4vh 4vh 4vh;
}

.carousel .carousel-slide-indicator button {
    border-radius: 0 !important;
    height: 5px !important;
    width: 50px !important;
    background-color: #e8e100 !important;
}

.carousel .carousel-slide-indicators {
    margin-top: -40px !important;
    position: absolute !important;
    background: transparent !important;
    width: 100% !important;
    display: inline-block !important;
}