main > .allpage.section > div {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.carousel .carousel-slide .carousel-slide-content {
    background-color: transparent !important;
}

.carousel .carousel-slide {
    min-height: 780px !important;
}